@import './base/base';
@import './components/form';

// ========================================================
// === Variables ===
// ========================================================

// ========================================================
// === Base ===
// ========================================================
details {
  & > summary {
    margin: @gap;
    padding: 0 0 0 @gap;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

table {
  width: 100%;
}
tbody {
  tr:nth-child(odd) {
    background-color: @color-gray-light;
  }
}
td {
  padding: @gap;
}

// ========================================================
// === Classes ===
// ========================================================
.btn {
  &--add {
    margin-top: @gap-lg;
    width: 100%;
    background-color: @btn-bg-color-hover;
    border: none;
    border-radius: initial;

    &:hover {
      background-color: darken(@btn-bg-color-hover, 5);
    }
  }
}

// ========================================================
// === 表單 (Form) ===
// ========================================================

// ========================================================
// === 第三方 (Vender) ===
// ========================================================
// vue-select
.vs {
  &__search::placeholder {
    color: @color-gray-dark;
  }
  &__clear,
  &__open-indicator {
    fill: fade(@border-color, 80);
  }
  &__dropdown {
    &-toggle {
      background-color: @color-white;
      border-radius: @border-radius;
      border: @border-width solid @border-color;

      .v-select.drop-up.vs--open & {
        border-radius: 0 0 @border-radius @border-radius;
        border-top-color: transparent;
        border-bottom-color: @border-color;
      }
    }
    &-menu {
      background-color: @color-white;
      border-radius: 0 0 @border-radius @border-radius;
      border-width: @border-width;
      border-color: @border-color;
    }
    &-option {
      &--highlight {
        color: @selection-color;
        background-color: @selection-bg-color;
      }
    }
  }
}
//.vs__dropdown-menu
[data-popper-placement='top'] {
  border-radius: @border-radius @border-radius 0 0;
  border-top-style: solid;
  border-bottom-style: none;
  box-shadow: 0 -@border-radius 6px rgba(0, 0, 0, 0.15);
}

// ========================================================
// === Main ===
// ========================================================
#app {
  display: flex;
}
#setting {
  flex: 2;
  margin: @gap-lg;
}
#result {
  flex: 3;
  margin: @gap-lg;
}

.card {
  // overflow: hidden;
  position: relative;
  margin-bottom: @gap-lg;
  background-color: @color-white;
  border-radius: @border-radius;
  box-shadow: @shadow-52;
  transition: box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: @shadow-56;
  }

  &__form {
    padding: @gap-lg;
  }

  &__header {
    .flex-centered-Y();
    padding: @gap @gap-lg;
    color: @color-white;
    font-weight: bolder;
    background-color: lighten(@color-gray-dark, 20);

    .text-ellipsis {
      flex: 1;
    }

    .icon-btn {
      justify-self: flex-end;
    }
  }

  &__drag {
    @len: @font-size;
    flex: 0 1 @len;
    .flex-centered();
    margin-right: @gap * 2;
    user-select: none;
    cursor: move;

    &:hover {
      background-color: lighten(@color-gray-dark, 30);
    }

    svg {
      width: @len;
      height: @len;
    }
  }
}

.block {
  box-sizing: border-box;
  margin-top: @gap-lg;
  padding: @gap-lg;
  border-radius: @border-radius;
  box-shadow: @shadow-52;

  &--option {
  }
  &--items {
    .item__drag {
      cursor: move;
    }
  }
  &--rule {
  }
  &--msg {
  }
}

.control-bar {
  @len: @font-size;
  margin-bottom: @gap-lg;

  button {
    background-color: @color-white;
    border-radius: @border-radius;
  }

  svg {
    width: @len;
    height: @len;
  }
}

#form-root {
  padding: @gap-lg;
  color: @color-black;
  background-color: @color-white;
}
