// main: _utils.less

// ========================================================
// === Variables ===
// ========================================================
@import './variables';

// ========================================================
// === Mixins ===
// ========================================================
@import './mixins';

// ========================================================
// === Classes === ※　用法　&:extend(class all)
// ========================================================

// ========================================================
// === 基本 ===
// ========================================================
.hide {
  display: none;
}

.text-ellipsis {
  .truncate(100%);
}

.flex-centered {
  .content-centered();
}
.flex-centered-X {
  .content-centered(@y: false);
}
.flex-centered-Y {
  .content-centered(@x: false);
}

.border-top-dashed {
  margin-top: @gap-lg;
  border-top: 1px dashed @border-color;
}

.btn {
  padding: @gap;
  text-align: center;
  color: @btn-color;
  background-color: @btn-bg-color;
  border: @border-width solid @border-color;
  border-radius: 3px;
  outline: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: @btn-bg-color-hover;
  }
}

.icon-btn {
  @len: @font-size + @gap*2;
  .flex-centered();
  flex: 0 1 @len;
  width: @len;
  height: @len;
  line-height: @len;
  font-size: @font-size;
  text-align: center;
  border-radius: 50%;
  outline: none;
  user-select: none;
  cursor: pointer;

  svg {
    width: @len * 0.9;
    height: @len * 0.9;
  }
  &:hover {
    background-color: lighten(@color-gray-dark, 30);
  }
}
